config/ranger/bookmarks
config/ranger/colorschemes/default.pyo
config/ranger/colorschemes/__init__.pyo
config/ranger/colorschemes/__pycache__/
config/ranger/history
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/elpa/
emacs/.emacs.d/games/
emacs/.emacs.d/ido.last
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/.python-environments/default/lib/
emacs/.emacs.d/undohist/
root/.mpd/mpd.db
root/.mpd/mpd.log
root/.mpd/mpdstate
.tags
tmux/.tmux.d/digests
vim/.vim/autoload/plug.vim
vim/.vim/bundle/
vim/.vim/lastupdate
vim/.vim/.netrwhist
vim/.vim/pack/vendor/
vim/.vim/plugged/
vim/.vim/undo/
zsh/.zsh/zsh_modules/
newsboat/.newsboat/cache.db
newsboat/.newsboat/history.cmdline
newsboat/.newsboat/history.search
