* {
    font-family: "Fira Code", monospace;
    font-size: 9pt;
    color: #ababab;
}

window#waybar {
    background-color: #000000;
    border-top: 1px solid #555555;
    color: #ababab;
    transition-property: background-color;
    transition-duration: .5s;
}

#tray,
#window,
#submap,
#custom-workspaces,
#custom-status,
#window  {
    border-top: 3px solid #000000;
}

#tray,
#window,
#submap,
#custom-workspaces,
#workspaces,
#custom-status,
#window{
    margin-left: 3.5px;
    margin-right: 3.5px;
    margin-top: 1px;
}
#workspaces button {
    border-top: 3px solid #000000;
    padding: 0px 3px;
    border-radius: 0;
}
#workspaces button.active {
    border-top: 3px solid #ababab;
    border-radius: 0;
}
