Applications/
Applications alias
arc3.1/
Attachments/
.audacity-data/
.autoenv_authorized
.autoenv_authorized.tmp
.bash_history
.bash_profile
.cabal/
.cache/
Calibre Library/
.CFUserTextEncoding
.cmus/*
.config/
.conkyrc.sysinfo
.credentials
.cups/
.dbshell
.dbus/
Desktop/
distributed/
.dmenu_cache
Documents/
Downloads/
.dropbox/
Dropbox/
.dropbox-dist/
.drush/
.DS_Store
.dvdcss/
.emacs~
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/ede-projects.el
.emacs.d/elpa/
.emacs.d/helm-adaptive-history
.emacs.d/projectile-bookmarks.eld
.emacs.d/.python-environments/
.emacs.d/semanticdb/
.esd_auth
.fetchmail.pid
.fetchmailrc
.fltk/
.fontconfig/
.foxrc/
.gem/
.ghc/
.gimp-2.8/
Gits/
.gksu.lock
.gnome/
.gnubg/
.gnupg/
.gstreamer-0.10/
.haxelib
.hplip/
.htoprc
.hushlogin
.hxcpp_config.xml
.ICEauthority
.icons/
.ipython/
.java/
.lein/
.lesshst
lib
Library/
.local/
.m2/
.matplotlib/
.mono/
.mountdrive.sh
Movies/
.mozilla/
.mplayer/
Music/
.mutt/
.muttrc
.npm/
.oh-my-zsh/
.opera/
.password-store/
.php_history
Pictures/
.pip/
.pki/
Projects/
*.pyc
.python_history
.racket/
.recently-used
.rnd
.serverauth.19827
Sites/
.Skype/
.sqlite_history
.ssh/
.state
.subversion/
.terminfo/
.thumbnails/
.thunderbird/
.timestat
.tmp/
.turbulence/
usrlocal
Videos/
.vim/bundle/
.vim-fuf-data/
.viminfo
.viminfo.tmp
.vim/lastupdate
.vim/.netrwhist
.vim/undo/
VirtualBox VMs/
.virtualenvs/
.winff/
.Xauthority
.Xdefaults
.xscreensaver
.xsel.log
.zcompcache/
.zcompdump*
.zhistory
.zlogin
.zlogout
.z.p8UajO
.zpreztorc
.zprofile
.zshenv
.zsh_history
.zshrc
.zsh-update
