Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
xterm*termName: xterm-256color
xterm*faceName: Inconsolata:size=12:antialias=true
xter*fontName:xft:Inconsolata:size=12:antialias=true:autohint=true
xterm*locale: true
xterm*utf8: 1
XTerm*vt100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
XTerm.vt100.scrollBar: false
XTerm.vt100.scrollbar.width: 0
URxvt*font:xft:Inconsolata:size=12:antialias=true:autohint=true
URxvt*boldFont:xft:Inconsolata:weight=bold:size=12:antialias=true:autohint=true
URxvt*scrollBar: false
URxvt.perl-ext-common: default,clipboard
URxvt.allow_bold:true
URxvt*depth: 32
URxvt*buffered: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1
!*******************************************************************************!
!                                   Colors
!*******************************************************************************!

! special
i3wm.foreground:   #a39e9b
i3wm.background:   #2f1e2e
i3wm.cursorColor:  #a39e9b

! black
i3wm.color0:       #2f1e2e
i3wm.color8:       #776e71

! red
i3wm.color1:       #ef6155
i3wm.color9:       #ef6155

! green
i3wm.color2:       #48b685
i3wm.color10:      #48b685

! yellow
i3wm.color3:       #fec418
i3wm.color11:      #fec418

! blue
i3wm.color4:       #06b6ef
i3wm.color12:      #06b6ef

! magenta
i3wm.color5:       #815ba4
i3wm.color13:      #815ba4

! cyan
i3wm.color6:       #5bc4bf
i3wm.color14:      #5bc4bf

! white
i3wm.color7:       #a39e9b
i3wm.color15:      #e7e9db
! special
*.foreground:   #a39e9b
*.background:   #2f1e2e
*.cursorColor:  #a39e9b

! black
*.color0:       #2f1e2e
*.color8:       #776e71

! red
*.color1:       #ef6155
*.color9:       #ef6155

! green
*.color2:       #48b685
*.color10:      #48b685

! yellow
*.color3:       #fec418
*.color11:      #fec418

! blue
*.color4:       #06b6ef
*.color12:      #06b6ef

! magenta
*.color5:       #815ba4
*.color13:      #815ba4

! cyan
*.color6:       #5bc4bf
*.color14:      #5bc4bf

! white
*.color7:       #a39e9b
*.color15:      #e7e9db
