Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
xterm*termName: xterm-256color
xterm*faceName: Inconsolata:size=12:antialias=true
xter*fontName:xft:Inconsolata:size=12:antialias=true:autohint=true
xterm*locale: true
xterm*utf8: 1
XTerm*translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
XTerm*scrollBar: false
XTerm*scrollbar.width: 0
UXTerm*scrollBar: false
UXTerm*scrollbar.width: 0
URxvt.font:xft:Inconsolata:size=12:antialias=true:autohint=true
URxvt.boldFont:xft:Inconsolata:weight=bold:size=12:antialias=true:autohint=true
URxvt.scrollBar: false
URxvt.perl-ext-common: default,clipboard
URxvt.allow_bold:true
URxvt.depth: 32
URxvt.buffered: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1
URxvt.internalBorder: 3
! URxvt.letterSpace: 1.2
!*******************************************************************************!
!                                   Colors
!*******************************************************************************!

! special
i3wm.foreground:   #adadad
i3wm.background:   #000000
i3wm.cursorColor:  #adadad

! black
i3wm.color0:       #000000
i3wm.color8:       #555555

! red
i3wm.color1:       #e6193c
i3wm.color9:       #ff4060

! green
i3wm.color2:       #29a329
i3wm.color10:      #45bf45

! yellow
i3wm.color3:       #c3c322
i3wm.color11:      #dede38

! blue
i3wm.color4:       #3d62f5
i3wm.color12:      #5273f5

! magenta
i3wm.color5:       #ad2bee
i3wm.color13:      #b544ee

! cyan
i3wm.color6:       #1999b3
i3wm.color14:      #2aa7c1

! white
i3wm.color7:       #adadad
i3wm.color15:      #d0d0d0
! special
*.foreground:   #adadad
*.background:   #000000
*.cursorColor:  #adadad

! black
*.color0:       #000000
*.color8:       #555555

! red
*.color1:       #e6193c
*.color9:       #ff4060

! green
*.color2:       #29a329
*.color10:      #45bf45

! yellow
*.color3:       #c3c322
*.color11:      #dede38

! blue
*.color4:       #3d62f5
*.color12:      #5273f5

! magenta
*.color5:       #ad2bee
*.color13:      #b544ee

! cyan
*.color6:       #1999b3
*.color14:      #2aa7c1

! white
*.color7:       #adadad
*.color15:      #d0d0d0
