Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
xterm*termName: xterm-256color
xterm*faceName: Inconsolata:size=12:antialias=true
xter*fontName:xft:Inconsolata:size=12:antialias=true:autohint=true
xterm*locale: true
xterm*utf8: 1
XTerm*vt100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
XTerm.vt100.scrollBar: false
XTerm.vt100.scrollbar.width: 0
URxvt.font:xft:Inconsolata:size=12:antialias=true:autohint=true
URxvt.boldFont:xft:Inconsolata:weight=bold:size=12:antialias=true:autohint=true
URxvt.scrollBar: false
URxvt.perl-ext-common: default,clipboard
URxvt.allow_bold:true
URxvt.depth: 32
URxvt.buffered: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1
URxvt.internalBorder: 10
URxvt.letterSpace: 1.2
!*******************************************************************************!
!                                   Colors
!*******************************************************************************!

! special
i3wm.foreground:   #8ca68c
i3wm.background:   #131513
i3wm.cursorColor:  #8ca68c

! black
i3wm.color0:       #131513
i3wm.color8:       #303a30

! red
i3wm.color1:       #e6193c
i3wm.color9:       #e6193c

! green
i3wm.color2:       #29a329
i3wm.color10:      #29a329

! yellow
i3wm.color3:       #c3c322
i3wm.color11:      #c3c322

! blue
i3wm.color4:       #3d62f5
i3wm.color12:      #3d62f5

! magenta
i3wm.color5:       #ad2bee
i3wm.color13:      #ad2bee

! cyan
i3wm.color6:       #1999b3
i3wm.color14:      #1999b3

! white
i3wm.color7:       #8ca68c
i3wm.color15:      #f0fff0
! special
*.foreground:   #8ca68c
*.background:   #131513
*.cursorColor:  #8ca68c

! black
*.color0:       #131513
*.color8:       #303a30

! red
*.color1:       #e6193c
*.color9:       #e6193c

! green
*.color2:       #29a329
*.color10:      #29a329

! yellow
*.color3:       #c3c322
*.color11:      #c3c322

! blue
*.color4:       #3d62f5
*.color12:      #3d62f5

! magenta
*.color5:       #ad2bee
*.color13:      #ad2bee

! cyan
*.color6:       #1999b3
*.color14:      #1999b3

! white
*.color7:       #8ca68c
*.color15:      #f0fff0
